<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697835447364-h0da0vfjs0jodbaguukv8a80nak1482s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697835447364-h0da0vfjs0jodbaguukv8a80nak1482s</string>
	<key>API_KEY</key>
	<string>AIzaSyCX4bgDvJni4IvHkA2L7TrHoCeCHYVkwjM</string>
	<key>GCM_SENDER_ID</key>
	<string>697835447364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finGoal</string>
	<key>PROJECT_ID</key>
	<string>fingoal-cf2b6</string>
	<key>STORAGE_BUCKET</key>
	<string>fingoal-cf2b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697835447364:ios:78e2672ba1634faa4cc811</string>
	<key>DATABASE_URL</key>
	<string>https://fingoal-cf2b6.firebaseio.com</string>
</dict>
</plist>